<!DOCTYPE html>
<html lang="en">

<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

	<div class="container" id="app">
		<div class="row well">
			Search by name/surname: <input type="text" v-model="buscar"> Search by city: <input type="text" v-model="ville">
			<input type="radio" v-bind:value="true" v-model="isMale">Only Men
			<input type="radio" v-bind:value="false" v-model="isMale">Only Women
		</div>
		<div v-for="item of filtrado">
			<div class="row well">
				<div class="col-xs-3">
					<img class="thumbnail" v-bind:src=item.picture.large>
				</div>
				<div class="col-xs-9">
					<h3>{{item.name.first |maj}} {{item.name.last|maj}}</h3><br/>
					<p>Adresse: {{item.location.street}}</p>
					<p> Ville: {{item.location.city|maj}}</p>
					<p>E-mail: {{item.email}}</p>
					<p>Telephone: {{item.phone}}</p>
					<p> Age: {{item.dob|age}}</p>

					<button v-on:click="supprimer(item)" type="button" class="btn btn-danger">Supprimer</button>
				</div>
			</div>
		</div>
	</div>




	<script src="https://unpkg.com/vue@2.2.6 "></script>
	<script src="https://cdn.jsdelivr.net/vue.resource/1.3.1/vue-resource.min.js"></script>
	<script src="main.js"></script>
</body>

</html>